/* 
    Created on : Jun 7, 2019, 4:58:57 PM
    Author     : Edson Kropniczki
*/

@media all and (max-width: 50em) {
    #slide {
        height: 25em!important;
    }
}

@media all and (max-width: 45em) {
    #slide {
        height: 30em!important;
    }
}

@media all and (max-width: 39em) {
    
    #slide{
        height: 40em!important;
    }
    
    .vintalogo {
        float: none!important;
        margin: auto;
        text-align: center;
    }
}

@media all and (max-width: 28em) {
    
    #slide {
        height: 44em!important;
    }
   
}

.mainheader {
    overflow: visible!important;
    text-overflow: unset!important;
    height: 5em;
    line-height: 5em;
}

.mainheader a {
    position: absolute;
    left: 0;
    top: 0;
    margin: .5em;
}

.mainheader img {
    width:  64px;
    height: 85px
}

#slide {
    height: 22em;
    max-width: 50em;
    margin: auto;
}

.vintalogo {
    float: left;
    margin-right: 2em;
}

#slide .question {
    padding: 1em;
    font-size: 1.2em;
    font-weight: bold;
    color:  #555555;
    text-align: justify;
}

#slide .btn {
    width: 5em;
    position: absolute;
    right: 1em;
    bottom: .5em;
}

#results_popup {
    width: 18em;
}

#results_caption {
    width: 18em;
    margin: auto;
    text-align: center;
    padding: .5em;
}

#results_links {
    margin: auto;
    width: 17em;
    text-align: center;
}

#results_close {
    width: 2em;
    margin: auto;
    margin-top: .5em;
    margin-bottom: .5em;
}

.congrats {
    font-size: 1.1em;
    font-weight: bold;
    color: #444444;
    text-align: center;
    padding: .5em;
    border: 2px dotted #444444;
    width: 10em;
    margin: auto;
    margin-top: .5em;
    margin-bottom: 1em;
    border-radius: 10px;
}

